body{
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(242, 242, 242);
}

:root{
    --primary-color: #FFF;
    --secondary-color: #2f2f2f;

}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    /*background: linear-gradient(rgb(97, 12, 159) 70%,rgb(148, 11, 146),rgb(218, 12, 129),rgb(233, 87, 147));*/
    background-color: white;
}

header::before{
    content: "";
    position: absolute;
    inset: 0;
    top: 75px;
    z-index: -1;
    background: rgb(148, 11, 146);
}

nav{
    position: fixed;
    top: 80px;
    width: 300px;
    height: 100vh;
    background-color: #610C9F;
    
}

nav a{
    left: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    color: rgb(233, 87, 147);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    display: list-item;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /*background: linear-gradient(to right,rgb(97, 12, 159) 90%,rgb(148, 11, 146),rgb(218, 12, 129),rgb(233, 87, 147));*/
}

nav a.active_button{
    border-right: rgb(218, 12, 129);
    border-right-width: 10px;
    border-right-style: solid;
    background: linear-gradient(to right,rgb(97, 12, 159) 90%,rgb(148, 11, 146),rgb(218, 12, 129))
}
nav a.not_active_button{
    border-right: rgb(148, 11, 146);
    border-right-width: 10px;
    border-right-style: solid;
    background: linear-gradient(to right,rgb(97, 12, 159) 90%,rgb(148, 11, 146))
}
/*
.not_active_button::before{
    content: "";
    position: absolute;
    inset: 0;
    left: 295px;
    background: rgb(148, 11, 146);
    overflow: hidden;
}

.active_button::before{
    content: "";
    position: absolute;
    inset: 0;
    left: 295px;
    background: rgb(218, 12, 129);
    overflow: hidden;
}
*/
nav a:hover{
    background: linear-gradient(to right, rgb(97, 12, 159),rgb(148, 11, 146),rgb(218, 12, 129));
    
}





/*SEARCH*/

.input {
    width: 260px;
    /*max-width: 230px;*/
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  input:focus {
    border-bottom: 2px solid rgb(97, 12, 159);
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }

  #search{
    padding: 18px;
  }

  #header-logo{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    position: fixed;
    left: 300px;
    top: 0px;
    text-decoration: none;
    text-align: center;

    /*background-color: red;*/

    width: calc(100% - 600px);
    height: 80px;
    margin-top: 0px;
    padding-top: 0px;
    
  }

  #header-logo-logo{
    height: 80px;
    width: 80px;
    float: left;
    
  }
  #header-logo-logo img{
    width: 70px;
    height: 70px;
    padding: 5px;
  }
  #header-logo-text{
    text-align: left;
  }

  #logo{
    
    display: block;
    top: 10px;
    padding: 15px;
    margin: 0;
    color: rgb(97, 12, 159);
  }

  #logowanie{
    position: absolute;
    top: 0px;
    right: 0px;

    justify-content: right;
    height: 80px;
    width: 300px;
    /*background-color: blue;*/
    float:right;
  }

  .login-button{

    float: left;
    padding: 5px 10px;
    border: 0;
    display: flex;
    width: 158px;
    height: 20px;
    background-color: rgb(97, 12, 159);
    
    text-align: center;
  }

  .login-button:hover{
    background-color: rgb(148, 11, 146);
  }
  .logowanie{
    text-decoration: none;
    color: rgb(233, 87, 147);
    border-radius: 20px;
    border-right: rgb(148, 11, 146);
    border-width: 1px;
    border-style: solid;
  }
  .rejestracja{
    text-decoration: none;
    color: rgb(233, 87, 147);
    border-radius: 20px;
    border-left: rgb(148, 11, 146);
    border-width: 1px;
    border-style: solid;
  }

  #przyciski-logowania{
    height: 80px;
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    right: 0px;
    margin-left: 20px;
    
  }

  #top-filler{
    width: 100%;
    height: 80px;
    background-color: red;
  }

  #left-filler{
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 100px;
    background-color: green;
  }

  #body-flexbox{
    display: flex;

  }

  #body{
    min-height: 100%;
    padding: 70px;
    left:300px;
    top: 80px;
    width: 100%;
    /*height: auto;*/
    background-color: rgb(242, 242, 242);
}

#strona-glowna-baner1-zdjecie{
  display: flex;
}

#strona-glowna-baner1{
  display: flex;
  width: 100%;
  height:400px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

#baner1-text{
  width: 100%;
  padding-top: 20px;
  padding-right: 40px;
  color: black;
  text-align: right;
}

h1{
  font-size: 45px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 12px;
}
h4{
  font-size: 16px;
}

.przerwa-50px{
  min-height: 50px;
  min-width: 50px;
}

#strona-glowna-baner23{
  display: flex;
  width: 100%;
  height: auto;
}

#baner2{
  overflow: hidden;
  text-align: center;
  width: 100%;
  background-color: white;
  height: 170px;
}

#baner3{
  overflow: hidden;
  text-align: center;
  margin-left: 50px;
  width: 100%;
  background-color: white;
  height: 170px;
}

#body-o-nas{
  width: 100%;
  overflow: hidden;
}

#zdjecie-centrum-div{
  min-width: 100%;
  
  overflow: hidden;
}

#zdjecie-centrum-handlowe-stokrotka{
  position:relative;
  width: 100%;
  z-index: -1;
}

#o-nas-div{
  display: flex;
  
  width: calc(100% - 100px);
  height:auto;
  padding: 50px;
}

#o-nas-text{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 50px;
}

#mapa{
  border-top-color: rgb(97, 12, 159);
  border-top-width: 2px;
  border-top-style: solid;
  width: 100%;
}

#kontakt-div{
  display: flex;
  width: calc(100% - 100px);
  height:auto;
  padding: 50px;
}

#kontakt-text{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 50px;
}

.kontakt-icon{
  width: 20px;
  height: 20px;
}

.kontakt-button{
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px;
  width: 400px;
  height: auto;
  background-color: rgb( 242, 242, 242);
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.kontakt-button:hover{
  background-color: rgb(200, 200, 200);
}

#oferty-pracy-opis{
  text-align: center;
}

#oferty-pracy-div{
  background-color: white;
  width: 80%;
  min-height: 100px;
  height: auto;
  overflow: hidden;
}

.oferty-pracy-a{
  width: 100%;
  display: list-item;
  list-style: none;
  padding-left: 50px;
  border-top: rgb(97, 12, 159);
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom: rgb(97, 12, 159);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

#oferty-pracy-zew{
  display: flex;
  width: 100%;
  justify-content: center;
}

#login-register-div{
  display: flex;
  max-width: 100%;
  min-height:200px;
  background-color: white;
  padding: 5%;
  text-align: center;
  font-size: 20px;
  
}

#login-div{
  width: 100%;
  min-height:100px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 2px;
}
#register-div{
  width: 100%;
  min-height:100px;
}

#login-div-in{
  padding: 50px;
  padding-top: 0px;
}
#register-div-in{
  padding: 50px;
  padding-top: 0px;
}

.login-input{
  margin: 2px;
  font-size: 30px;
  height: 40px;
  width: 100%;
  outline:rgb(97, 12, 159) 1px;
  border:rgb(97, 12, 159) 1px;
  background-color: rgb(242, 242, 242);
}

.button{
  margin-left: 4px;
  margin-top: 10px;
  color: rgb(233, 87, 147);
  background-color: rgb(97, 12, 159);
  height: 45px;
  width: 100%;
}
.button:hover{
  background-color: rgb(148, 11, 146);
}

#parking-div{
  width: calc(100% - 100px);
  min-height: 100px;
  background-color: white;
  padding: 50px;
}

#parking-text{
  
  width: 100%;
  min-height: 100px;
}

#left-filler2{
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 100px;
  background-color: green;
}

#body-flexbox2{
  display: flex;
}

#sklepy-div{
  background-color: white;
  width: 100%;
  min-height: 300px;
}

#pietra{
  padding-top: 50px;
  padding-bottom: 50px;
  border: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.pietro{
  font-size: 30px;
  color: rgb(233, 87, 147);
  background-color: rgb(97, 12, 159);
  display: list-item;
  list-style: none;
  width: 50px;
  height: 60px;
  padding:30px;
  padding-bottom: 0px;
  text-align: center;
}

.pietro:hover{
  background-color: rgb(148, 11, 146);
}

.pietro.active-pietro{
  border-bottom: rgb(233, 87, 147) solid 5px;
  height: 55px;
}

#plan-sklepow{
  display: flex;
  width: 100%;
  min-height: 100px;
  background-color: white;
  aspect-ratio: 16 / 12;
}

#lista-sklepow{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  background-color: gray;
}

.typ-sklepow{
  border-top: rgb(97, 12, 159) solid 2px;
  min-width: 100px;
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  padding-left: 50px;
  
}

.plan-centrum-img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}